.card-wrapper {
  width: 10rem;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.card-year-and-type-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close-button {
  height: 8px;
  width: 8px;
  margin: 5px 5px 15px 5px;
}
