.movie-image {
  width: 100%;
}

.movie-image-container {
  max-width: 150px;
  min-width: 100px;
}

.movie-details-container {
  position: relative;
}

.toggle-favourites-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.movie-table {
  width: 70%;
}

.year-and-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-table-row {
  cursor: pointer;
}
