.movie-image {
  width: 100%;
}

.movie-table {
  width: 70%;
}

.year-and-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-table-row {
  cursor: pointer;
}
